@import 'main-colors';

#Menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;

  padding: 1rem;
  position: sticky;
  top: 0;

  background-color: $secondary-theme-color;
  color: $base-text-color;
  
  #lower-menu {
    margin-top: auto;
  }
}