@import 'main-colors';

#Menu {
  font-family: Yellowtail;
  font-stretch: extra-condensed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;

  padding: 1rem;
  position: sticky;
  top: 0;

  background-color: $secondary-theme-color;
  color: $base-text-color;
  
  #lower-menu {
    font-family: poppins;
    margin-top: auto;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    font-family: poppins;
  }
}