@import './main-colors.scss'; 
@import './utils.scss';

.message {
  width: 200px;
  padding: 10px;
  margin: 10px;
  
  background-color: $secondary-theme-color;
  display: flex;
  justify-content: center;

  @include cards;
}