@import './main-colors.scss'; 
@import './utils.scss';

.message {
  width: 400px;
  padding: 10px;
  margin: 10px;
  
  background-color: $secondary-theme-color;
  display: flex;
  justify-content: center;
  word-wrap: break-word;

  @include cards;

  .author-bar {
    color: $primary-theme-color;
    font-family: Londrina Solid;
    font-size: 30px;
    text-align: left;
  }

  .message-body {
    font-size: 25px;
    font-family: poppins;
  }
}